Source: checksum
Section: misc
Maintainer: Baytuch <alexander@it-hobby.km.ua>
Standards-Version: 1.0

Package: checksum
Section: misc
Priority: optional
Depends: ${shlibs:Depends}
Architecture: armhf
Homepage: https://www.it-hobby.km.ua/
Description: checksum util
 Checksum is a util for check your media archives
